/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0px 200px;
  padding: 24px;
  gap: 24px;
  background-color: #FFFFFF;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  list-style: none;
  max-width: 360px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
  color: #FFF;
  background-color: #4e75ff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  display: block;
  align-self: flex-start;
  margin-top: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

.feedback-form {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.feedback-form label:nth-of-type(2) {
  margin-top: 8px;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  box-sizing: border-box;
  margin-top: 8px;
}

.feedback-form input {
  height: 40px;
}

.feedback-form textarea {
  height: 80px;
}

.feedback-form label span {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}